<h1> Questo titolo non è passato nel turbo_frame. Lo vedi solo se carichi tutta la pagina. </h1>

<%= turbo_frame_tag "fourthid" do %>
  <hr />
  This content was loaded from a different template/view.
<% end %>